@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff; */
  --background: var(--pale-mud);
  --foreground: #171717;
  --van-dyke: #4b3b40ff;
  --coyote: #82735cff;
  --pale-mud: #CDCABB;
  --olivine: #9db17cff;
  --celadon: #9cde9fff;
  --tea-green: #d1f5beff;
  --bright-pink-crayola: #A31D21;
  --thistle: #d4cbe5ff;
  --white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-bright-pink {
    color: var(--bright-pink-crayola);
  }

  .border-olivine {
    border: 2px solid var(--olivine);
  }
}

@layer base {
  html {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
